common --enable_bzlmod
common:buildbuddy-cache --bes_results_url=https://app.buildbuddy.io/invocation/
common:buildbuddy-cache --bes_backend=grpcs://remote.buildbuddy.io
common:buildbuddy-cache --remote_cache=grpcs://remote.buildbuddy.io
common:buildbuddy-cache --remote_timeout=3600
common:buildbuddy-cache --remote_upload_local_results=true
common:buildbuddy-rbe --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy-rbe --remote_timeout=3600
common:buildbuddy-rbe --platforms=//tools/bazel/platforms:linux_x86_64
common:buildbuddy-rbe --host_platform=//tools/bazel/platforms:linux_x86_64
common:buildbuddy-rbe --remote_default_exec_properties=OSFamily=Linux
common:buildbuddy-rbe --remote_default_exec_properties=Arch=amd64
common:buildbuddy-rbe --remote_default_exec_properties=use-self-hosted-executors=true
common:buildbuddy-rbe --remote_default_exec_properties=Pool=linux-amd64-default
common:buildbuddy-rbe --remote_default_exec_properties=container-image=docker://localhost:5000/buildbuddy-executor:bookworm-amd64
common:buildbuddy-rbe --remote_default_exec_properties=workload-isolation-type=docker
common:buildbuddy-rbe --remote_default_exec_properties=dockerUser=root
common:buildbuddy-linux-rbe --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy-linux-rbe --remote_timeout=3600
common:buildbuddy-linux-rbe --platforms=//tools/bazel/platforms:linux_x86_64
common:buildbuddy-linux-rbe --host_platform=//tools/bazel/platforms:linux_x86_64
common:buildbuddy-linux-rbe --remote_default_exec_properties=OSFamily=Linux
common:buildbuddy-linux-rbe --remote_default_exec_properties=Arch=amd64
common:buildbuddy-linux-rbe --remote_default_exec_properties=use-self-hosted-executors=true
common:buildbuddy-linux-rbe --remote_default_exec_properties=Pool=linux-amd64-default
common:buildbuddy-linux-rbe --remote_default_exec_properties=container-image=docker://localhost:5000/buildbuddy-executor:bookworm-amd64
common:buildbuddy-linux-rbe --remote_default_exec_properties=workload-isolation-type=docker
common:buildbuddy-linux-rbe --remote_default_exec_properties=dockerUser=root
common:buildbuddy-linux-arm64-rbe --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy-linux-arm64-rbe --remote_timeout=3600
common:buildbuddy-linux-arm64-rbe --platforms=//tools/bazel/platforms:linux_arm64
common:buildbuddy-linux-arm64-rbe --host_platform=//tools/bazel/platforms:linux_arm64
common:buildbuddy-linux-arm64-rbe --remote_default_exec_properties=OSFamily=Linux
common:buildbuddy-linux-arm64-rbe --remote_default_exec_properties=Arch=arm64
common:buildbuddy-linux-arm64-rbe --remote_default_exec_properties=use-self-hosted-executors=true
common:buildbuddy-linux-arm64-rbe --remote_default_exec_properties=Pool=linux-arm64-default
common:buildbuddy-darwin-rbe --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy-darwin-rbe --remote_timeout=3600
common:buildbuddy-darwin-rbe --platforms=//tools/bazel/platforms:darwin_arm64
common:buildbuddy-darwin-rbe --host_platform=//tools/bazel/platforms:darwin_arm64
common:buildbuddy-darwin-rbe --remote_default_exec_properties=OSFamily=Darwin
common:buildbuddy-darwin-rbe --remote_default_exec_properties=Arch=arm64
common:buildbuddy-darwin-rbe --remote_default_exec_properties=use-self-hosted-executors=true
common:buildbuddy-darwin-rbe --remote_default_exec_properties=Pool=darwin-arm64-default
common:buildbuddy-darwin-amd64-rbe --remote_executor=grpcs://remote.buildbuddy.io
common:buildbuddy-darwin-amd64-rbe --remote_timeout=3600
common:buildbuddy-darwin-amd64-rbe --platforms=//tools/bazel/platforms:darwin_x86_64
common:buildbuddy-darwin-amd64-rbe --host_platform=//tools/bazel/platforms:darwin_x86_64
common:buildbuddy-darwin-amd64-rbe --remote_default_exec_properties=OSFamily=Darwin
common:buildbuddy-darwin-amd64-rbe --remote_default_exec_properties=Arch=amd64
common:buildbuddy-darwin-amd64-rbe --remote_default_exec_properties=use-self-hosted-executors=true
common:buildbuddy-darwin-amd64-rbe --remote_default_exec_properties=Pool=darwin-amd64-legacy
test --test_output=errors
try-import %workspace%/user.bazelrc
